@charset "UTF-8"

// Hlavný štýlový dokument

// Importované fonty
@font-face
  font-family: 'drybrush'
  src: url('../fonts/drybrush.eot')
  src: url('../fonts/drybrush.eot?#iefix') format('embedded-opentype'), url('../fonts/drybrush.woff2') format("woff2"), url('../fonts/drybrush.woff') format("woff"), url('../fonts/drybrush.ttf') format("truetype")
  font-weight: 400
  font-style: normal
  font-stretch: normal

@font-face
  font-family: 'ptsans'
  src: url('../fonts/ptsans.eot')
  src: url('ptsans.eot?#iefix') format('embedded-opentype'), url('../fonts/ptsans.woff2') format("woff2"), url('../fonts/ptsans.woff') format("woff"), url('../fonts/ptsans.ttf') format("truetype")
  font-weight: 400
  font-style: normal
  font-stretch: normal

@font-face
  font-family: 'ptsans'
  src: url('../fonts/ptsansbold.eot')
  src: url('ptsansbold.eot?#iefix') format('embedded-opentype'), url('../fonts/ptsansbold.woff2') format("woff2"), url('../fonts/ptsansbold.woff') format("woff"), url('../fonts/ptsansbold.ttf') format("truetype")
  font-weight: 600
  font-style: bold
  font-stretch: normal

li
    list-style: none
a
    text-decoration: none

::selection
    background: rgba(40, 58, 90, 0.1)

// Media Query Mixins //

=tablet
  @media (max-width: 768px)
    @content

=mobile
  @media (max-width: 480px)
    @content





//  Nastavenia premenných   //
$apply: all 0.3s ease-in // Animácia

// Colors
$line: #f8f8f8 // Medzery medzi sekciami
$title: #272829 // Farba nádpisu
$hr: #aaaaaa    // Farba čiary medzi sekciami
$text: #848484 // Farba textu
$menu: #395a6e // Farba aktívneho tlačítka
$background: #f8f8f8 // Farba pozadia stránky

// Fonty
$f-title: "drybrush"
$f-other: "ptsans"




// Kód
body
    margin: 0
    padding: 0
    background-color: $background
    color: $text
    font-family: $f-other
*
    box-sizing: border-box
    img
        user-select: none

// Menu

.menu-bar
    width: 100%
    height: 80px
    position: fixed
    top: 10px
    left: 0
    z-index: 99
    .menu-container
        width: 90%
        max-width: 700px
        height: 80px
        margin: auto
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        .bg-line
            height: 1px
            width: 100%
            z-index: 1
            background: #272829
            position: absolute
            top: 50%
            transform: translateY(-50%)
        a
            width: 50px
            height: 50px
            max-height: 50px
            background: #f8f8f8
            border: 0.5px solid #272829
            color: #111111
            position: relative
            z-index: 2
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%
            font-weight: 600
            transition: all .1s ease-in
            &:hover
                background: #272829
                color: #f8f8f8
            +mobile
                width: 35px
                height: 35px
            .home
                width: 50%
            
            .info-border
                display: none
                position: absolute
                background: #272829
                color: #f8f8f8
                top: 55px
                width: 100px
                min-height: 55px
                padding: 0 2px
                clip-path: polygon(0% 20%, 50% 0, 100% 20%, 100% 100%, 0 100%)
                font-weight: 400 !important
                font-size: 14px
        
            .info-menu
                display: none
                position: absolute
                background: #272829
                color: #f8f8f8
                left: 2px
                left: 50%
                transform: translateX(-50%)
                top: 55px
                bottom: 2px
                min-width: 50px
                padding: 20% 20% 10% 20%
                white-space: nowrap
                min-height: 45px
                clip-path: polygon(0% 20%, 50% 0, 100% 20%, 100% 100%, 0 100%)
                font-weight: 400 !important
                font-size: 14px
            &:hover .info-menu
                display: flex
                justify-content: center
                align-items: center


.active
    color: #f8f8f8 !important
    background: #272829 !important
    border: 1px #f8f8f8 solid !important


.line-container
    width: 80%
    height: 400px
    max-width: 1400px
    margin: 150px auto
    display: flex
    justify-content: center
    opacity: .9
    align-items: center
    position: relative
    background-position: 50% 0
    background-repeat: no-repeat
    background-size: cover
    transform: translate3d(0,0,0)
    

    .line
        border-left: 1px solid $hr
        height: 100%
    .menu-port
        width: 100%
        height: 1px
        background: 10px
        position: absolute
        bottom: 0
        left: 0

.title-container
    width: 90%
    height: 200px
    margin: -60px auto 50px auto
    position: relative
    font-family: $f-title !important
    font-size: 4em
    display: flex
    justify-content: center
    align-items: center
    color: $title
    +tablet
        font-size: 4em
    +mobile
        font-size: 2.5em
    .bg
        z-index: -5
        position: absolute
        transform: translate(-50%, -50%)
        left: 50%
        top: 60%
        font-size: 4em
        color: rgba($title, 0.06)
    .fg
        z-index: -4
        position: relative

header
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background:
        image: url('../img/bg-header.jpg')
        repeat: no-repeat
        size: cover
    .name, .type
        font-family: $f-title !important
        color: $background
        margin: -30px 0
        +mobile
            margin: -15px 0
        +tablet
            margin: -15px 0
    .name
        font-size: 7em
        +tablet
            font-size: 5em
        +mobile
            font-size: 2.5em
    .type
        font-size: 3em
        align: center
        +tablet
            font-size: 2em
        +mobile
            font-size: 1.5em
    .icon-container
        width: 35px
        height: 35px
        display: flex
        justify-content: center
        align-items: center
        border: 3px white solid
        border-radius: 3px
        bottom: 10%
        transform: translateY(-10%)
        position: absolute
        transform-origin: 50% 50%
        animation: icon-tap 1.5s infinite
        _border-color: #ffffff #000000 #000000 #000000
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff')

    .icon
        width: 0
        height: 0
        border-style: solid
        border-width: 11px 8px 0 8px
        border-color: #ffffff transparent transparent transparent
        line-height: 0px


@keyframes icon-tap
    0%
        transform: translateY(0px)
        opacity: 100
    100%
        transform: translateY(20px)
        opacity: 0

@keyframes hover-tap
    0%
        transform: scale(1)
    50%
        transform: scale(.8)
    100%
        transform: scale(1)
    
.a-container, .b-container, .c-container, .d-container, .e-container
    width: 80%
    min-height: 200px
    margin: auto
    max-width: 1400px
    overflow: hidden
    +tablet
        width: 100%
        padding: 0 10px
.a-container
    display: flex
    flex-direction: column
    .container
        width: 100%
        min-height: 200px
        margin: 40px auto
        +mobile
            margin: 0px auto
            min-height: 50px
        .image-container
            width: 50%
            min-height: 50px
            float: left
            display: flex
            justify-content: flex-end
            +tablet
                width: 100%
                float: none
                justify-content: center
                margin-bottom: 50px
            +mobile
                margin-bottom: 10px
            img
                width: 50%
                height: 100%
                transform: scale(1) rotate(15deg)
                +mobile
                    transform: scale(.7) rotate(0deg)
        .info-container
            width: 50%
            min-height: 200px
            float: left
            padding: 0 50px
            display: flex
            flex-direction: column
            +tablet
                width: 100%
                float: none
                margin-top: 0px
                justify-content: center
                padding: 0

            +mobile
            .title
                font-size: 60px
                font-weight: 600
                +tablet
                    font-size: 50px
                    margin: auto
                +mobile
                    font-size: 35px
                .model
                    color: #283a5a
                    margin-left: 10px
            .info
                font-size: 25px
                +tablet
                    max-width: 80%
                    font-size: 28px
                    margin: auto
.b-container // galeria
    display: flex
    flex-wrap: wrap
    +mobile
            flex-direction: column
    .row
        display: flex
        flex-wrap: wrap
        flex-direction: row
        padding: 0 4px
        +tablet
        +mobile
            flex-direction: column
    .column
        flex: 33.333333%
        max-width: 33.333333%
        padding: 0 4px
        cursor: url("../icon/open.png") 25 25, auto
        +tablet
        +mobile
            flex: 100%
            max-width: 100%

    .column img
        margin-top: 8px
        vertical-align: middle
        width: 100%
.c-container
    display: flex
    flex-direction: column
    align-items: center
    img.bg
        width: 100%
    img.fg
        width: 100%
        margin-top: -40%
    .container-text
        width: 100%
        min-height: 100px
        max-width: 380px
        line-height: 40px
        text-align: justify
        text-align-last: center
        margin: 100px auto 0px auto
        +tablet
        +mobile
            width: 80%
.d-container
    .container-image
        width: 100%
        min-height: 400px
        .flex-container
            width: 100%
            min-height: 400px
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: flex-start
            align-content: stretch
            align-items: flex-start
            .flex-item
                border: 5px #f8f8f8 solid
                height: 400px
                display: flex
                justify-content: center
                align-items: center
                &:nth-child(1)
                    width: 70%
                    flex: 2 1 auto
                    align-self: auto
                    transition: background-image .3s ease-in
                    background:
                        image: url('../img/after_before/img-1-before.jpg')
                        size: cover
                        repeat: no-repeat
                        position: center center
                    &.hover
                        background-image: url('../img/after_before/img-1-after.jpg')
                    +tablet
                    +mobile
                        width: 100%
                &:nth-child(2)
                    width: 30%
                    flex: 1 1 auto
                    align-self: auto
                    transition: background-image .3s ease-in
                    background:
                        image: url('../img/after_before/img-2-before.jpg')
                        size: cover
                        repeat: no-repeat
                        position: center center
                    &.hover
                        background-image: url('../img/after_before/img-2-after.jpg')
                    +tablet
                    +mobile
                        width: 100%
                &:nth-child(3)
                    width: 30%
                    flex: 1 1 auto
                    align-self: auto
                    background:
                        image: url('../img/after_before/img-4-after.jpg')
                        size: cover
                        repeat: no-repeat
                        position: center center
                    +tablet
                    +mobile
                        width: 100%
                &:nth-child(4)
                    width: 70%
                    flex: 1 1 auto
                    align-self: auto
                    background:
                        image: url('../img/after_before/img-3-after.jpg')
                        size: cover
                        repeat: no-repeat
                        position: center center
                    +tablet
                    +mobile
                        width: 100%
                .tap-icon
                    width: 50px
                    height: 50px
                    img
                        cursor: pointer
                        transition: opacity .1s ease-in
                        opacity: .8
                        animation: hover-tap 1.5s infinite
                        animation-play-state: running
                        &:hover
                            opacity: .2
                            animation-play-state: paused
    .mac
        width: 60%
        position: relative
        margin-top: -200px
        left: 50%
        transform: translate(-50%)
        +mobile
            margin-top: -100px
            width: 80%
    .rotate-font
        transform: rotate(-10deg)
        margin: 50px auto 0 auto
    .container-text
        width: 100%
        min-height: 100px
        max-width: 380px
        line-height: 40px
        margin: auto
        text-align: justify
        text-align-last: center
        +tablet
        +mobile
            width: 80%
        

.e-container
    display: flex
    justify-content: center
    flex-direction: row
    +tablet
        flex-direction: column
    .container-image
        width: 100%
        height: 300px
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 50px
        img
            height: 100%
    .container-text
        width: 50%
        min-height: 100px
        text-align: center
        max-width: 380px
        line-height: 40px
        min-width: 300px
        float: left
        margin: 0 20px
        text-align: justify
        +tablet
            margin: auto
        hr
        p.one, p.structure
            width: 100%
            margin: 30px auto
            +tablet
            +mobile
                width: 90%
            span.main
                font-weight: 600
                font-size: 15px
                color: #272829
            span.sub
                margin-left: 10px
        .structure
            line-height: 40px !important
footer
    width: 90%
    min-height: 100px
    margin: auto auto 100px auto
    .container
        width: 100%
        max-width: 150px
        height: 40px
        margin: auto
        .email
            width: 100%
            height: 20px
            display: flex
            justify-content: center
            align-items: center
            transform: scale(1.2)
            a
                filter: grayscale(100%)
                transition: all .3s ease-in
                background: #272829
                padding: 13px
                color: #f8f8f8
                font-weight: 400
                transform: scale(.8) translateY(0px)
                &:hover
                    filter: grayscale(0%)
                    background: #272829
                    transform: scale(.8) translateY(-3px)
                    color: #f8f8f8
        .social
            width: 100%
            height: 20px
            display: flex
            margin-top: 70px
            align-items: center
            justify-content: space-between
            a
                .instagram
                    width: 40px
                    height: 40px
                    background-image: url('../icon/instagram.svg')
                .facebook
                    width: 40px
                    height: 40px
                    background-image: url('../icon/facebook.svg')
                .twitter
                    width: 40px
                    height: 40px
                    background-image: url('../icon/twitter.svg')
                .instagram, .facebook, .twitter
                    filter: grayscale(100%)
                    transform: translateY(0px) rotateX(0deg)
                    transition: all .3s ease-in
                    &:hover
                        filter: grayscale(0%)
                        transform: translateY(-10px) rotateY(180deg)
.end-line
    margin-bottom: 30px !important
.copyright
    text-align: center
    display: block
    margin-bottom: 30px

// Preloader
#preloader
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #fff
  z-index: 999

#status
  width: 200px
  height: 200px
  position: absolute
  left: 50%
  top: 50%
  background-image: url('../icon/status.gif')
  background-repeat: no-repeat
  background-position: center
  margin: -100px 0 0 -100px
  
// Obrázky a fullscreen
#background
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0,0,0, .8)
    top: 0
    left: 0
    display: none
    z-index: 100

#overlay
    position: fixed
    width: 100%
    height: 100%
    text-align: center
    top: 0
    left: 0
    display: none
    overflow: hidden
    z-index: 101
    cursor: url("../icon/close.png") 20 20, auto

#full
    max-width: 100%
    max-height: 100%

#overlay
    margin: 0px auto

.show
    opacity: 1 !important