doctype html
html(lang="sk")
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title Mário Ďak - Photography
        link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
        link(href="assets/css/main.css", rel="stylesheet")
    body

        // Start
        header
            span.name Mário Ďak
            span.type photography
            .icon
        .line-container
            .line
        .title-container
            p Čo používam?
        .a-container
            .image-container
                img(alt="neexistuje" src="assets/img/canon_dslr.png")
            .info-container
                span.title
                    | Canon
                    span.model 100D
                br
                br
                span.info
                    | CMOS 18Mpx DIGIC5
                    br
                    | 3" LCD
                    br
                    | FHD video
        .line-container
            .line
        .title-container
            p Fotografia
        .b-container
            .row
                .column
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                    img(src="https://i.pinimg.com/736x/3e/19/00/3e1900112369a7862138bac101753434--img-models-portfolio.jpg")
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                    img(src="https://i.pinimg.com/736x/3e/19/00/3e1900112369a7862138bac101753434--img-models-portfolio.jpg")
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                .column
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                    img(src="https://i.pinimg.com/736x/3e/19/00/3e1900112369a7862138bac101753434--img-models-portfolio.jpg")
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                .column
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                    img(src="https://i.pinimg.com/736x/3e/19/00/3e1900112369a7862138bac101753434--img-models-portfolio.jpg")
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
                    img(src="https://vignette.wikia.nocookie.net/austinally/images/1/14/Random_picture_of_shark.png")
        .line-container
            .line
        .title-container
            p Postprodukcia
        .c-container
            .container-bg
            .container-image
                img(alt="neexistuje" src="assets/img/macbook-edit.png")
        .line-container
            .line
        .title-container
            p Úprava fotiek?
        .d-container
            .container-image
                .flex-container
                    .flex-item
                    .flex-item
                    .flex-item
                    .flex-item
            .container-macs
                img(alt="neexistuje" src="assets/img/imacs.png")
            .title-container
                p.rotate-font Lightroom
            .container-text
                p Za všetko môže tento skvelý program!
                br
                p Lightroom je platený produkt od spoločnosti Adobe, s ktorým dokážete upravovať fotografie a spraviť z nich niečo neuveriteľné..
        .line-container
            .line
        .title-container
            p Kto som?
        .e-container
            .container-image
                img(alt="neexistuje" src="assets/img/profile.jpg")
            .container-text
                p
                    | - Moje meno je Mário Ďak.
                    br
                    | - Mám 19r.
                    br
                    | - Som študent na SOS Technickej, Humenné.
                    br
                    | - Zaoberám sa tvorbou webov a fotografií.
                    br
                    | - Odborne sa venujem dizajnu.
                    br
        .line-container
            .line
        .title-container
            p Kontaktuj ma
        footer
            .container
                .email
                    a(href="mailto:e.mariodak@gmail.com") e.mariodak@gmail.com
                .social
                    a(target="_blank" href="https://www.instagram.com/ofmarioo")
                        .instagram
                    a(target="_blank" href="https://www.facebook.com/ofmarioo")
                        .facebook
                    a(target="_blank" href="https://www.twitter.com/ofmarioo")
                        .twitter


        // Scripts
        script(src="assets/js/jquery-3.2.1.min.js")
        script(src="assets/js/main.js")
        //script(type='text/javascript').