doctype html
html(lang="sk")
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title Mário Ďak - Photography
        link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
        link(href="assets/css/main.css", rel="stylesheet")
        // fonts
        // share
        meta(property='og:title', content='Filip Kasarda')
        meta(property='og:description', content='Portfólio')
        meta(property='og:image', content='https://mariodak.github.io/graduation/src/assets/img/og-image.jpg')
        //meta(property='og:url', content='')
    body(draggable="false")
        // Preload
        #preloader
            #status &nbsp;
        // Menu
        .menu-bar
            .menu-container
                .bg-line
                a(class="active" href="#home") A
                a(href="#use") B
                a(href="#gallery") C
                a(href="#edit") D
                a(href="#lightroom") E
                a(href="#about") F
                a(href="#contact") G


        // Start
        header#home.page-section
            span.name Mário Ďak
            span.type photography
            .icon
        .line-container
            .line
            .menu-port#use.page-section
        .title-container
            p Čo používam?
        .a-container#use.page-section
            .container
                .image-container
                    img(alt="neexistuje" src="assets/img/dslr_canon.png")
                .info-container
                    span.title
                        | Canon
                        span.model 100D
                    br
                    span.info
                        | - CMOS 18Mpx DIGIC5
                        br
                        | - 3" LCD
                        br
                        | - FHD video
            br
            .container
                .image-container
                    img(alt="neexistuje" src="assets/img/50mm_canon.png")
                .info-container
                    span.title
                        | Hlavný
                        span.model Objektív
                    br
                    span.info
                        | - Canon
                        br
                        | - f/1.8
                        br
                        | - 50mm
                        br
                        | - rotačný motorček
            br
            .container
                .image-container
                    img(alt="neexistuje" src="assets/img/18_55mm_canon.png")
                .info-container
                    span.title
                        | Kitový
                        span.model objektív
                    br
                    span.info
                        | - Canon
                        br
                        | - f/3.5 - f/5.6
                        br
                        | - 18-55mm
                        br
                        | - bez motorčeku
        .line-container
            .line
            .menu-port
        #gallery.page-section
            .title-container
                p Fotografia

            // fullscreen image
            #overlay
                #background
                    img#full(src='', alt='')

            .b-container
                .row
                    .column
                        img(class="thumbs" src='assets/img/thumbs/img-1.jpg')
                        img(class="thumbs" src="assets/img/thumbs/img-2.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-3.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-4.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-5.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-6.jpg")
                    .column
                        img(class="thumbs" src="assets/img/thumbs/img-7.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-8.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-9.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-10.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-11.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-12.jpg")
                    .column
                        img(class="thumbs" src="assets/img/thumbs/img-13.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-14.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-15.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-16.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-17.jpg")
                        img(class="thumbs" src="assets/img/thumbs/img-18.jpg")

        .line-container
            .line
            .menu-port
        #edit.page-section
            .title-container
                p Postprodukcia
            .c-container
                .container-bg
                .container-image
                    img(alt="neexistuje" src="assets/img/macbook-edit.png")
        .line-container
            .line
            .menu-port
        #lightroom.page-section
            .title-container
                p Úprava fotiek?
            .d-container
                .container-image
                    .flex-container
                        .flex-item.one-anim-item
                            .tap-icon#one-anim-change
                                img(alt="neexistuje" width="50" src="assets/icon/finger.svg")
                        .flex-item.two-anim-item
                            .tap-icon#two-anim-change
                                img(alt="neexistuje" width="50" src="assets/icon/finger.svg")
                        .flex-item
                        .flex-item
                .container-macs
                    img(alt="neexistuje" src="assets/img/mac.png")
                .title-container
                    p.rotate-font Lightroom
                .container-text
                    p Za všetko môže tento skvelý program!
                    br
                    p Lightroom je platený produkt od spoločnosti Adobe, s ktorým dokážete upravovať fotografie a spraviť z nich niečo neuveriteľné..
        .line-container
            .line
            .menu-port
        #about.page-section
            .title-container
                p Kto som?
            .e-container
                .container-image
                    img(alt="neexistuje" src="assets/img/profile.jpg")
                .container-text
                    hr
                    p.one
                        | Zdravím, rád by som sa predstavil.. Volám sa Mário Ďak a som študentom na SOŠ Technickej v Humennom. Rád sa venujem programovaniu webových stránok, hlavnou záľubou je fotografovanie.
                .container-text
                    hr
                    p.structure
                        span.main Meno:
                        span.sub Mário Ďak
                        br
                        span.main Tel.č.:
                        span.sub +421 xxx xxx xxx
                        br
                        span.main E-mail:
                        span.sub e.mariodak@gmail.com
                        br
                        span.main Adresa:
                        span.sub družstevná, Humenné
                        br
                        span.main Firma:
                        span.sub MD Photography s.r.o
                        br
                        span.main Meno:
                        span.sub Mário Ďak
                        br

        .line-container
            .line
            .menu-port
        #contact.page-section
            .title-container
                p Kontaktuj ma
            footer
                .container
                    .email
                        a(href="mailto:e.mariodak@gmail.com") e.mariodak@gmail.com
                    .social
                        a(target="_blank" href="https://www.instagram.com/ofmarioo")
                            .instagram
                        a(target="_blank" href="https://www.facebook.com/ofmarioo")
                            .facebook
                        a(target="_blank" href="https://www.twitter.com/ofmarioo")
                            .twitter
        .line-container.end-line
            .line
        span.copyright &copy; Mário Ďak 2018

        // Scripts
        script(src="assets/js/jquery-3.2.1.min.js")
        script(src="assets/js/main.js")
        //script(type='text/javascript').