doctype html
html(lang="sk")
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title Mário Ďak - Photography
        link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
        link(href="assets/css/main.css", rel="stylesheet")
    body
        // Menu
        .menu
            .container
                ul.progressbar
                    li.active
                        a(href="#home") Domov
                    li
                        a(href="#use") Gear
                    li
                        a(href="#gallery") Fotografie
                    li
                        a(href="#edit") Úprava
                    li
                        a(href="#lightroom") Lightroom
                    li
                        a(href="#about") O mne
                    li
                        a(href="#contact") Kontakt
                    
                    




        // Start
        header#home
            span.name Mário Ďak
            span.type photography
            .icon
        .line-container
            .line
        .title-container
            p Čo používam?
        .a-container#use
            .container
                .image-container
                    img(alt="neexistuje" src="assets/img/canon_dslr.png")
                .info-container
                    span.title
                        | Canon
                        span.model 100D
                    br
                    span.info
                        | - CMOS 18Mpx DIGIC5
                        br
                        | - 3" LCD
                        br
                        | - FHD video
            br
            .container
                .image-container
                    img(alt="neexistuje" src="assets/img/canon_dslr.png")
                .info-container
                    span.title
                        | Hlavný
                        span.model Objektív
                    br
                    span.info
                        | - cena 120€
                        br
                        | - Canon
                        br
                        | - f/1.8
                        br
                        | - 50mm
                        br
                        | - rotačný motorček
            br
            .container
                .image-container
                    img(alt="neexistuje" src="assets/img/canon_dslr.png")
                .info-container
                    span.title
                        | Kitový
                        span.model objektív
                    br
                    span.info
                        | - cena 60€
                        br
                        | - Canon
                        br
                        | - f/3.5 - f/5.6
                        br
                        | - 18-55mm
                        br
                        | - kitový
        .line-container
            .line
        .title-container
            p Fotografia
        .b-container#gallery
            .row
                .column
                    img(src="assets/img/fotky/cropped-image-1.jpg")
                    img(src="assets/img/fotky/cropped-image-1.jpg")
                    img(src="assets/img/fotky/cropped-image-2.jpg")
                .column
                    img(src="assets/img/fotky/cropped-image-2.jpg")
                    img(src="assets/img/fotky/cropped-image-1.jpg")
                    img(src="assets/img/fotky/cropped-image-2.jpg")
                .column
                    img(src="assets/img/fotky/cropped-image-1.jpg")
                    img(src="assets/img/fotky/cropped-image-2.jpg")
                    img(src="assets/img/fotky/cropped-image-1.jpg")
        .line-container
            .line
        .title-container
            p Postprodukcia
        .c-container#edit
            .container-bg
            .container-image
                img(alt="neexistuje" src="assets/img/macbook-edit.png")
        .line-container
            .line
        .title-container
            p Úprava fotiek?
        .d-container#lightroom
            .container-image
                .flex-container
                    .flex-item
                        .tap-icon
                            img(alt="neexistuje" width="50" src="assets/icon/finger.svg")
                    .flex-item
                        .tap-icon
                            img(alt="neexistuje" width="50" src="assets/icon/finger.svg")
                    .flex-item
                    .flex-item
            .container-macs
                img(alt="neexistuje" src="assets/img/imacs.png")
            .title-container
                p.rotate-font Lightroom
            .container-text
                p Za všetko môže tento skvelý program!
                br
                p Lightroom je platený produkt od spoločnosti Adobe, s ktorým dokážete upravovať fotografie a spraviť z nich niečo neuveriteľné..
        .line-container
            .line
        .title-container
            p Kto som?
        .e-container#about
            .container-image
                img(alt="neexistuje" src="assets/img/profile.jpg")
            .container-text
                p
                    | - Moje meno je Mário Ďak.
                    br
                    | - Mám 19r.
                    br
                    | - Som študent na SOS Technickej, Humenné.
                    br
                    | - Zaoberám sa tvorbou webov a fotografií.
                    br
                    | - Odborne sa venujem dizajnu.
                    br
        .line-container
            .line
        .title-container
            p Kontaktuj ma
        footer#contact
            .container
                .email
                    a(href="mailto:e.mariodak@gmail.com") e.mariodak@gmail.com
                .social
                    a(target="_blank" href="https://www.instagram.com/ofmarioo")
                        .instagram
                    a(target="_blank" href="https://www.facebook.com/ofmarioo")
                        .facebook
                    a(target="_blank" href="https://www.twitter.com/ofmarioo")
                        .twitter


        // Scripts
        script(src="assets/js/jquery-3.2.1.min.js")
        script(src="assets/js/main.js")
        //script(type='text/javascript').